{
  "id": "AUT",
  "name": "Австрия",
  "flag": "🇦🇹"
},
{
  "id": "AZE",
  "name": "Азербайджан",
  "flag": "🇦🇿"
},
{
  "id": "GBR",
  "name": "Англия",
  "flag": "🇬🇧"
},
{
  "id": "ARM",
  "name": "Армения",
  "flag": "🇦🇲"
},
{
  "id": "BLR",
  "name": "Беларусь",
  "flag": "🇧🇾"
},
{
  "id": "BEL",
  "name": "Бельгия",
  "flag": "🇧🇪"
},
{
  "id": "BGR",
  "name": "Болгария",
  "flag": "🇧🇬"
},
{
  "id": "HUN",
  "name": "Венгрия",
  "flag": "🇭🇺"
},
{
  "id": "VNM",
  "name": "Вьетнам",
  "flag": "🇻🇳"
},
{
  "id": "DEU",
  "name": "Германия",
  "flag": "🇩🇪"
},
{
  "id": "GRC",
  "name": "Греция",
  "flag": "🇬🇷"
},
{
  "id": "DNK",
  "name": "Дания",
  "flag": "🇩🇰"
},
{
  "id": "DOM",
  "name": "Доминиканская Республика",
  "flag": "🇩🇴"
},
{
  "id": "IND",
  "name": "Индия",
  "flag": "🇮🇳"
},
{
  "id": "IDN",
  "name": "Индонезия",
  "flag": "🇮🇩"
},
{
  "id": "IRL",
  "name": "Ирландия",
  "flag": "🇮🇪"
},
{
  "id": "ISL",
  "name": "Исландия",
  "flag": "🇮🇸"
},
{
  "id": "ESP",
  "name": "Испания",
  "flag": "🇪🇸"
},
{
  "id": "ITA",
  "name": "Италия",
  "flag": "🇮🇹"
},
{
  "id": "CAN",
  "name": "Канада",
  "flag": "🇨🇦"
},
{
  "id": "CYP",
  "name": "Кипр",
  "flag": "🇨🇾"
},
{
  "id": "CHN",
  "name": "Китай",
  "flag": "🇨🇳"
},
{
  "id": "LVA",
  "name": "Латвия",
  "flag": "🇱🇻"
},
{
  "id": "LTU",
  "name": "Литва",
  "flag": "🇱🇹"
},
{
  "id": "MDV",
  "name": "Мальдивская Республика",
  "flag": "🇲🇻"
},
{
  "id": "MLT",
  "name": "Мальта",
  "flag": "🇲🇹"
},
{
  "id": "NPL",
  "name": "Непал",
  "flag": "🇳🇵"
},
{
  "id": "NLD",
  "name": "Нидерланды",
  "flag": "🇳🇱"
},
{
  "id": "ARE",
  "name": "ОАЭ",
  "flag": "🇦🇪"
},
{
  "id": "PER",
  "name": "Перу",
  "flag": "🇵🇪"
},
{
  "id": "PRT",
  "name": "Португалия",
  "flag": "🇵🇹"
},
{
  "id": "RUS",
  "name": "Россия",
  "flag": "🇷🇺"
},
{
  "id": "MYS",
  "name": "Сингапур",
  "flag": "🇸🇬"
},
{
  "id": "SVK",
  "name": "Словакия",
  "flag": "🇸🇰"
},
{
  "id": "USA",
  "name": "США",
  "flag": "🇺🇸"
},
{
  "id": "TJK",
  "name": "Таджикистан",
  "flag": "🇹🇯"
},
{
  "id": "THA",
  "name": "Таиланд",
  "flag": "🇹🇭"
},
{
  "id": "FJI",
  "name": "Фиджи",
  "flag": "🇫🇯"
},
{
  "id": "PHL",
  "name": "Филиппины",
  "flag": "🇵🇭"
},
{
  "id": "FIN",
  "name": "Финляндия",
  "flag": "🇫🇮"
},
{
  "id": "FRA",
  "name": "Франция",
  "flag": "🇫🇷"
},
{
  "id": "HRV",
  "name": "Хорватия",
  "flag": "🇭🇷"
},
{
  "id": "MNE",
  "name": "Черногория",
  "flag": "🇲🇪"
},
{
  "id": "CZE",
  "name": "Чехия",
  "flag": "🇨🇿"
},
{
  "id": "EST",
  "name": "Эстония",
  "flag": "🇪🇪"
},
{
  "id": "KOR",
  "name": "Южная Корея",
  "flag": "🇰🇷"
}