{{- $scratch := newScratch -}}

{{- $paginator := .Paginate ( where .Paginator.Pages "Category" "pencil" ) -}}
{{- $scratch.SetInMap "json" "currentPage" $paginator.PageNumber -}}
{{- $scratch.SetInMap "json" "totalPages" $paginator.TotalPages -}}

{{- with (where .Pages "Params.type" "pencil") -}}
  {{- $scratch.SetInMap "json" "records" (len .)  -}}

  {{- range . -}}
    {{- $scratch.Add "pencils" (or .Params.pencilCount 1)  -}}
  {{- end -}}
  {{- $scratch.SetInMap "json" "pencils" ($scratch.Get "pencils")  -}}
{{- end -}}

{{- return ($scratch.Get "json") -}}
