{{- $totalPencils := 0 -}}
{{ range where .Pages "Params.type" "pencil" }}
    {{- $count := or .Params.pencilCount 1 -}}
    {{- $totalPencils = add $totalPencils $count -}}
{{ end }}
{{- $page := .Paginate ( where .Paginator.Pages "Params.type" "pencil" ) -}}
  "pages": {
    "page": {{ $page.PageNumber }},
    "total": {{ $page.TotalPages }},
    "nextUrl": {{ if $page.HasNext }}"{{ $page.Next.URL }}"{{else}}null{{end}},
    "items": {{ len (where .Pages "Params.type" "pencil") }},
    "pencils": {{$totalPencils}}
  }

