{
  "title": "{{- .Title -}}",
  "country": { "name": "{{- .Params.countries -}}", "id": "{{- .Params.geo -}}" },
  "city": "{{- .Params.cities -}}",
  "id": "{{- .Params.key -}}",
  "grid": {{- .Params.gridSize -}},
  "count": {{ if .Params.pencilCount }}{{ .Params.pencilCount }}{{ else }}1{{ end }},
{{- if .Params.latlng -}}
  {{ $map := split .Params.latlng ", " }}
  "map": {
    "lat": {{ index $map 0 }},
    "lng": {{ index $map 1 }}
  },
{{- end -}}
  {{ $text :=  replace (.Content ) "\"" "'"  }}
  {{ $text :=  replace $text "\n" " "  }}
  "content": "{{-  ($text | safeHTML) -}}",
  "photos": [
    {{- with .Resources.ByType "image" -}}
      {{- $len := sub (len .) 1 -}}
      {{- range $i, $e := . -}}
        "{{- .Permalink -}}"{{ if lt $i  $len }}, {{ end }}
      {{- end -}}
    {{- end -}}
  ],
  {{- $thumb := index (.Resources.ByType "image") 0 -}}
  {{- $thumbSize := $thumb.Resize "300x" -}}
  "preview": "{{$thumbSize.Permalink}}",
  "tags": {{ if .Params.tags }}["{{ delimit .Params.tags "\", \"" }}"]{{else }}[]{{ end }}
}