{{- $scratch := newScratch -}}

{{- range  (where .Site.Pages "Section" "country") -}}
  {{- if .Params.id -}}
    {{- $scratch.Add "countries" (slice ( partial "country-geo" . )) -}}
  {{- end -}}
{{- end -}}

{{- $sortedCountries := sort ($scratch.Get "countries") "name" -}}

{{- $items := (len (where .Site.Pages "Section" "pencil")) -}}
{{- $pencils := partial "count-pencils.html" (where .Site.Pages "Section" "pencil") -}}
{{- $countries := partial "count-countries.html" (where .Site.Pages "Section" "country") -}}
{{- $tags := len .Site.Taxonomies.tags -}}

{{- $scratch.SetInMap "statistic" "tags" $tags -}}
{{- $scratch.SetInMap "statistic" "countries" $countries -}}
{{- $scratch.SetInMap "statistic" "items" $items -}}
{{- $scratch.SetInMap "statistic" "pencils" $pencils -}}

{{- range .Site.Taxonomies.tags  -}}
  {{- $scratch.Add "tags" (slice ( partial "count-tag" . )) -}}
{{- end -}}



{{- $statistic := $scratch.Get "statistic" -}}
{{- $data := dict "statistic" $statistic "countries" $sortedCountries "tags" ($scratch.Get "tags") -}}

{{- jsonify $data -}}
