{{- $countriesLen := len .Site.Taxonomies.countries -}}
{{- $tagsLen := len .Site.Taxonomies.tags -}}
{
  "meta": {
    "tags": {{$tagsLen}},
    "countries": {{ partial "count-countries.html" .Site.Taxonomies.countries }},
    "items": {{ with where .Site.Pages "Section" "pencil" }}{{len . }}{{end}},
    "pencils": {{ partial "count-pencils.html" .Site.Pages }}
  },
  "taxonomy": {
    "countries": [
        {{- partial "countriesGeoId.html" -}}
{{/*
      {{ $i := 0 }}
      {{ range $key, $value := .Site.Taxonomies.countries }}
        {{$i = add $i 1}}
        {"name": "{{- $key | humanize -}}", "geoId": }
        {{if lt $i $countriesLen}},{{end}}
      {{ end }}
*/}}
    ],
    "tags": [
      {{ $i := 0 }}
      {{ range $key, $value := .Site.Taxonomies.tags }}
        {{$i = add $i 1}}
        "{{- $key | humanize -}}"{{if lt $i $tagsLen}},{{end}}
      {{ end }}
    ]
  }

}
